# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#


# Never ignore Asset meta data
#!/[Aa]ssets/**/*.meta

Unity/[Aa]ssets/UsefulSources/
Unity/[Ll]ibrary/
Unity/[Tt]emp/
Unity/[Oo]bj/
Unity/[Bb]uild/
Unity/[Bb]uilds/
Unity/[Ll]ogs/
Unity/[Uu]ser[Ss]ettings/

Unity/Library/
Unity\Library\

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
Unity/[Mm]emoryCaptures/

# Gradle cache directory
.gradle/


